h1 {
    font-size: 60px;
    text-align: center;
    background-color:red;
    color: white;
    margin: 0;
    padding: 20px;
}

.btn {
    background-color:red;
    color:white;
    padding: 10px;
    width: 10%;
}

form input {
    padding: 10px;
    font-size: 15px;
    width: 20%;
}

body {
    font-size: 18px;
    background-color: darkgrey;
    color: black;
    padding: 10px;
}